:root {
  --body-max-width: 900px;
  --card-bg-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

.table-of-contents > li {
  line-height: 1.6;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--border);
}

.card pre {
  margin-top: 1rem;
  margin-bottom: 0;
}

.card pre > code {
  border: 1px solid var(--border);
}

.card h4 {
  margin-top: 0;
}

/* Card media example */
.media {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  max-width: 600px;
}

.media-body {
  flex: 1;
}

.avatar-skeleton {
  width: 80px;
  height: 80px;
}

.title-skeleton {
  max-width: 200px;
  margin-bottom: 1rem;
}

.text-skeleton {
  margin-bottom: 0.5rem;
}

.button-skeleton {
  max-width: 130px;
  height: 35px;
  margin-top: 1rem;
}

@media screen and (max-width: 300px) {
  .media {
    flex-direction: column;
  }
}

/* Slot example */
.slot-example::part(placeholder) {
  display: flex;
  align-items: center;
  justify-content: center;
}
